<!DOCTYPE html>
<html>
<head>
  <title>Heracles</title>
  <%= stylesheet_link_tag    "heracles/application", :media => "all" %>
  <%= javascript_include_tag "heracles/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
